name: docker image build

on:
  workflow_call:
    inputs:
      VERSION_NUMBER:
        required: true
        type: string
      COMMIT_ID:
        required: true
        type: string

jobs:
  docker_image_build:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read
      packages: read
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          ref: ${{ env.BRANCH_NAME }}

      - name: Build cdk-utils-build Docker image
        id: build-cdk-utils-build-image
        env:
          VERSION_NUMBER: ${{ inputs.VERSION_NUMBER }}
        run: |
          docker build -t "cdk-utils-build:${VERSION_NUMBER}" -f docker/Dockerfile --build-arg VERSION="${VERSION_NUMBER}" .
          docker save "cdk-utils-build:${VERSION_NUMBER}" -o cdk-utils-build.img

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        name: Upload docker images
        with:
          name: docker_artifact
          path: |
            cdk-utils-build.img
