name: docker image build

on:
    workflow_call:
        inputs:
            pinned_image:
                type: string
                required: true

jobs:
    package_npm_code:
        runs-on: ubuntu-22.04
        container:
            image: ${{ inputs.pinned_image }}
            options: --user 1001:1001 --group-add 128
        defaults:
            run:
                shell: bash
        steps:
            - name: copy .tool-versions
              run: |
                  cp /home/vscode/.tool-versions "$HOME/.tool-versions"
            - name: Checkout code
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
              with:
                  ref: ${{ env.BRANCH_NAME }}

            - name: Install dependencies
              run: |
                  make install

            - name: Package code
              run: |
                  make package

            - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
              name: Upload packaged code
              with:
                  name: nhsdigital-eps-cdk-constructs-1.0.0.tgz
                  path: |
                      lib/nhsdigital-eps-cdk-constructs-1.0.0.tgz
