name: docker image build

on:
    workflow_call:

jobs:
    get_asdf_version:
        runs-on: ubuntu-22.04
        outputs:
            asdf_version: ${{ steps.asdf-version.outputs.version }}
            tag_format: ${{ steps.load-config.outputs.TAG_FORMAT }}
        steps:
            - name: Checkout code
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

            - name: Get asdf version
              id: asdf-version
              run: echo "version=$(awk '!/^#/ && NF {print $1; exit}' .tool-versions.asdf)" >> "$GITHUB_OUTPUT"
            - name: Load config value
              id: load-config
              run: |
                  TAG_FORMAT=$(yq '.TAG_FORMAT' .github/config/settings.yml)
                  echo "TAG_FORMAT=$TAG_FORMAT" >> "$GITHUB_OUTPUT"
    package_npm_code:
        runs-on: ubuntu-22.04
        needs: [get_asdf_version]
        steps:
            - name: Checkout code
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
              with:
                  ref: ${{ env.BRANCH_NAME }}

            # using git commit sha for version of action to ensure we have stable version
            - name: Install asdf
              uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47
              with:
                  asdf_version: ${{ needs.get_asdf_version.outputs.asdf_version }}

            - name: Cache asdf
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
              with:
                  path: |
                      ~/.asdf
                  key: ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}
                  restore-keys: |
                      ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}

            - name: Install asdf dependencies in .tool-versions
              uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47
              with:
                  asdf_version: ${{ needs.get_asdf_version.outputs.asdf_version }}
              env:
                  PYTHON_CONFIGURE_OPTS: --enable-shared

            - name: Install dependencies
              run: |
                  make install

            - name: Package code
              run: |
                  make package

            - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
              name: Upload packaged code
              with:
                  name: nhsdigital-eps-cdk-constructs-1.0.0.tgz
                  path: |
                      lib/nhsdigital-eps-cdk-constructs-1.0.0.tgz
